/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

/* Override the browser's default styles with the wildcard selector (asterisk) */
* {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
}

#thematic-title {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 0.85em;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    padding-right: 1em;
}


/* Gallery page */
#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

img {
    margin: 5px;
    flex: 1 1 auto;
    width: 99%;
    max-width: 180px;
}

img ~ p {
    margin-top: 0;
    font-size: 0.7em;
    text-align: center;
}


/* Footer */
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

#socials i {
    font-size: 2em;
}