/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400..700&family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

/* Override the browser's default styles with the wildcard selector (asterisk) */
* {
    margin: 0;
    padding: 0;
}

/* General styles */
body {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Amatic SC", sans-serif;
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
}

#thematic-title {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-size: 0.85em;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    padding-right: 1em;
}

header {
    background-color: white;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    z-index: 99;
    width: calc(100% - 22px - 2rem);
    max-width: 992px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px;
}

/* Nav toggle */
/* input checkbox not shown */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    position: absolute;
    top: 18px;
    right: 15px;
}

#nav-toggle:checked ~ nav {
    display: block;
}

/* Navbar styles with dropdown toggle */
nav {
    background-color: #ffffff;
    display: none;
}

.current {
    border: 2px solid #ffffff;
}

#menu {
    position: absolute;
    top: 55px;
    right: -4px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

#menu > a {
    font-family: Amatic SC;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Main content */
main {
    /* element is both flex container ... */
    display: flex;
    /* ... and flex item */
    flex: 1 0 auto;
    /* flex container property */
    flex-direction: column;
    /* pushes the element down to create room for header */
    margin-top: 150px;
}


/* Gallery page */
#photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-evenly;
}

img {
    margin: 5px;
    flex: 1 1 auto;
    width: 99%;
    max-width: 180px;
}

img ~ p {
    margin-top: 0;
    font-family: "Amatic SC";
    font-size: 1em;
    text-align: center;
}

/* About page */
#about {
    margin: auto;
    width: calc(100% - 22px - 2rem);
    max-width: 992px;
}

#the-artist {
    text-align: center;
}

#about p {
    margin-block: 1em;
}

blockquote {
    font-family: "Caveat", cursive;
    font-weight: 700;
    font-style: normal;
    margin-block: 1em;
    margin-inline: 40px;
}

/* Contact page */
#contact {
    background-image: url('../images/contact-page-image.jpeg');
    background-size: cover;
    background-position: center;
    padding: 10px;
    margin: 10px 0;
    flex-grow: 1;
}

#contact-form {
    color: white;
    background-color: rgba(80, 80, 80, 0.7);
    padding: 30px;
    margin: auto;
    max-width: 500px;
}

#contact label,
#contact button {
    display: block;
    margin-top: 10px;
}

#contact textarea {
    height: 150px;
    width: 100%;
    max-width: 300px;
    resize: none;
}


/* Footer */
#socials {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

#socials i {
    font-size: 2em;
}

@media screen and (min-width: 280px) {
    img {
        max-width: 200px;
    }
}

@media screen and (min-width: 452px) {
    img {
        max-width: 220px;
    }

    main {
        margin-top: 95px;
    }
}

@media screen and (min-width: 576px) {
    img {
        max-width: 230px;
    }
}

@media screen and (min-width: 768px) {
    img {
        max-width: 240px;
    }

    /* Header */
    nav {
        position: absolute;
        top: -12px;
        right: 0;
        display: block;
    }

    #menu {
        display: flex;
        right: 20px;
        border-radius: 4px;
    }

    #menu > a {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    img {
        max-width: 260px;
    }

    header {
        right: calc(50% - 11px - 1rem - 496px);
    }
}

@media screen and (min-width: 1200px) {
    img {
        max-width: 320px;
    }
}